.navbar {
    background: #04091a;
    height: 50px;
    line-height: 50px;
    padding: 10px 0;
}

.navbar .logo {
    color: #fb56de;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Brush Script MT';
}

.navbar .logo-wrapper {
    float: left;
}

.navbar .nav-menus {
    float: right;
}

.navbar .nav-menus > a {
    color: #adadad;
    margin-left: 40px;
    transition: color 0.3s;
}

.navbar .nav-menus > a:hover {
    color: #ffffff;
}

.navbar .nav-menus > a.active {
    color: #78d02b;
}

.navbar .nav-menus a.login-link {
    border: 1px solid #78d02b;
    color: #78d02b;
    border-radius: 20px;
    padding: 8px 15px;
}

.navbar .nav-menus .fa {
  vertical-align: middle;
}

.navbar .dropDown {
  position: relative;
}

.navbar .dropDown .dropDown_content {
  position: absolute;
  top: -10px;
  right: 0;
  background: #ffffff;
  padding: 0 0 5px 0;
  z-index: 9999999999999999999;
  box-shadow: 0 6px 16px #efefef;
  border-radius: 5px;
  width: 200px;
  line-height: 100%;
  display: none;
}

.navbar .dropDown .dropDown_content a {
  display: block;
}

.navbar .dropDown .dropDown_content .links {
  margin-left: 7px;
}

.navbar .dropDown .dropDown_content .profile_section {
  padding: 5px;
  display: block;
}

.navbar .dropDown .dropDown_content .link_profile {
  font-size: 14px;
  font-weight: 700;
  color: #292929;
  margin-top: 2px;
}

.navbar .dropDown .dropDown_content .link_signout {
    font-size: 13px;
    color: rgb(212, 87, 87);
    margin-top: 4px;
}

.navbar .dropDown .dropDown_content .image {
    width: 40px;
    height: 40px;
}

.searchBar_wrapper {
  display: inline-block;
  position: relative;
}

.searchBar_wrapper .searchBar {
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: 20px;
  color: #fff;
  background: #0e1527;
  height: 70px;
  margin-top: -10px;
  border: none;
  box-sizing: border-box;
  padding: 0 50px 0 20px;
  transition: width 0.2s;
  width: 230px;
  cursor: pointer;
}

.searchBar_wrapper .fa-search {
  position: absolute;
  right: 20px;
  top: 18px;
  color: #8a8a8a;
}

.searchBar_wrapper .searchBar:focus {
  width: 580px;
  cursor: text;
  background: #1c212f;
}
