.form-white-bg {
    background: #ffffff;
    width: 500px;
    margin: 0 auto;
    color: #111;
    border-radius: 7px;
}

.form-white-bg .inner {
  padding: 20px;
}

.form-info {
    font-style: italic;
    color: #999;
    font-size: 12px;
}

.form-header {
    color: #000000;
    font-weight: 700;
    font-size: 29px;
}

.form-white-bg .bottom-links {
    background: #fbfbfb;
    color: #333;
    padding: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.form-white-bg .bottom-links a {
    color: #fb56de;
    font-size: 14px;
}

.form-white-bg .bottom-links a.signup {
    border: 1px solid #fb9c56;
    color: #fb9c56;
    border-radius: 30px;
    padding: 7px 21px;
    background: #fff;
}

.form-white-bg .input-area .input-field-wrapper {
  border-bottom: 1px solid #ccc;
  padding: 17px;
}

.form-white-bg .input-area .input-field-wrapper.last {
    border-bottom: none;
}

.form-white-bg .input-area {
    border: 1px solid #ccc;
    border-radius: 7px;
}

.form-white-bg .input-area .error {
  font-size: 11px;
  color: #ff4949;
  margin-top: 4px;
}

.form-white-bg .input-area .input-field-wrapper input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #888;
  transition: color 0.15s;
}

.form-white-bg .input-area .input-field-wrapper input:focus {
    color: #000;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-10 {
    margin-top: 10px;
}

.m-top-30 {
    margin-top: 30px;
}