.songListItem {
  margin-bottom: 30px;
  padding-right: 50px;
  position: relative;
}

.songListItem.hasBanner {
  padding-left: 53px;
}

.songListItem .image {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.songListItem .artistName_wrapper {
  color: #dfdfdf;
  font-size: 14px;
}

.songListItem .artistName_wrapper a {
  color: #999;
}

.songListItem .artistName:hover {
  text-decoration: underline;
}

.songListItem .bottom {
    margin-top: 5px;
    font-size: 13px;
}

.songListItem .bottom .left {
  color: #b7b7b9;
}

.songListItem .bottom .left span {
  margin-right: 20px;
}

.songListItem .bottom .right .like a {
  color: #57c6ff;
  margin-left: 7px;
  transition: transform 0.2s ease-in;
}

.songListItem .bottom .right .like a .fa {
  position: relative;
  top: -2px;
}

.songListItem .bottom .right .like .counter {
  color: #d4d4d4;
}

.songListItem .bottom .right .like a:hover {
  display: inline-block;
  transform: scale(1.24, 1.25);
  color: #37b7f7;
}

.songListItem.isLoaded .waveForm_wrapper .waveForm {
  height: 40px;
  overflow: hidden;
  margin-top: 5px;
  white-space: nowrap;
}

.songListItem .btn_play {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #dd5185;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 3px;
  right: 0;
}

.songListItem.isLoaded .btn_play {
  top: 23px;
}

.songListItem.isLoaded .song-length {
  color: #f00;
}
