.profileSection.container.float-area {
  margin-top: 40px;
}

.leftInfo {
  width: 200px;
}

.leftInfo .image {
  width: 200px;
  height: 200px;
  display: block;
}

.leftInfo .fullname {
  font-weight: bold;
  font-size: 19px;
  margin-top: 20px;
}

.leftInfo .info {
  color: #b7b7b9;
  font-size: 13px;
  margin-top: 6px;
}

.leftInfo .bio {
  color: #68696f;
  font-size: 15px;
  margin-top: 20px;
}

.userContent {
  width: 700px;
  margin-left: 50px;
}

.leftInfo .bio .user-bio {
  margin-bottom: 5px;
}

.leftInfo .bio .user-bio.editMode {
  outline: none;
  padding-bottom: 3px;
  position: relative;
  min-height: 21px;
}

@keyframes borderEffect {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.leftInfo .bio .user-bio.editMode::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background: #86d2ff;
  animation: borderEffect 0.15s forwards;
}

.editBioLink_wrapper a {
  color: #8eb7cf;
}
